.burger {
    position: fixed;
    top: 20px;
    left: 30px;
    height: 14px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1000;
    cursor: pointer;
    transition: ease .5s;
    &:hover {
        span {
            &:nth-child(1) {
                transform: rotate(-47deg);
                position: relative;
                bottom: -2px;
            }
            &:nth-child(2) {
                display: none;
            }
            &:nth-child(3) {
                transform: rotate(47deg);
                position: relative;
                top: -3px;
            }
            transition: ease .5s;
        }
    }
    span {
        display: block;
        margin: 3px;
        width: 24px;
        height: 2px;
        background: rgb(0, 0, 0);
    }
}

.burger__menu {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    transition: all .5s;
    z-index: 10;
    &.active {
        left: 0;
        visibility: visible;
        opacity: 1;
    }

    &-logo {
        width: 200px;
        min-height: 45px;
        color: var(--btn-color);
        font-weight: 700;
        font-size: 30px;
        padding: 10px 0;
        text-transform: uppercase;
        cursor: pointer;
    }

    &-block {
        position: relative;
        padding: 35px 15px;
        width: 350px;
        height: 100%;
        background-color: #b0e2e4;
        transition: all .5s;
        z-index: 35;
    }

    &-item {
        margin: 15px 0 15px 0;
        font-size: 22px;
        font-weight: 500;
        a {
            &:hover {
                color: #000;
            }
        }
    }

    &-button {
        display: block;
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        width: 200px;
        margin: 10px 0 10px 0;
    }

    &-close {
        position: fixed;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 200;
        cursor: pointer;
        transition: ease .4s;
        &:hover {
            span {
                &:nth-child(1) {
                    transform: rotate(0);
                    position: relative;
                    bottom: -2px;
                }
                &:nth-child(2) {
                    transform: rotate(0);
                    position: relative;
                    top: -3px;
                }
                transition: ease .4s;
            }       
        }
        span {
            display: block;
            width: 24px;
            height: 2px;
            margin: 3px 0 0 0;
            background: black;
            &:nth-child(1) {
                transform: rotate(45deg);
                position: relative;
                bottom: -2px;
            }
            &:nth-child(2) {
                transform: rotate(-45deg);
                position: relative;
                top: -3px;
            }
        }
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000000;
        opacity: 0.85;
        z-index: 30;
    }
}